.container {
  margin: 4rem;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5rem 2rem;
}

.post {
  margin-bottom: 2rem;
}

.title {
  color: #2d878f;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1rem;
  text-decoration: none;
} 

.titleBalise {
  margin-bottom: 1rem;
}

.mymasonrygrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.mymasonrygridcolumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}