.footer {
  background: #2b4b49;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 4rem;
}

.nav {
  display: flex;
  margin-bottom: 1rem;
}

.nav a {
  margin: .5rem 1rem;
  text-decoration: none;
  color: #ffffff
}

.nav a:hover {
  text-decoration: underline;
}

