.container {
  height: 30px;
  padding: 10px;
  background: #44bac4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  height: 30px;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff
}

.nav a:hover {
  text-decoration: underline;
}